@charset "UTF-8";
/* CSS Document */

body,td,th {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

h1, h2 {
	color: #AAAAAA;
	font-size: 7em;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 1em;
}

h1 {
	margin: .2em;	
	margin-bottom: 0em;
}

h2 {
	font-size: 3em;
	margin: .4em;
	margin-bottom: 0em;
}

h3 {
	margin-top: 2.5em;
	color: #777777;
}

h4 {
	font-size: 1.15em;
    margin-bottom: 0px;
	font-weight: 500;
}

body {
	background-color: #FFFFFF;
	text-align: center;
}

#bigbox {
    width: 760px;
	margin: 0 auto;
	padding: 10px;
}

h3:nth-of-type(1) {
	margin-top: 0;
}

a {
	text-decoration: none;	
	color: #4082DE;
}

td {
		font-weight: 300;
		font-size: small; 
		text-align: left;
		padding: 3px;
}

.parenthetical {
	color: #999999;
}

#news, #photo, #pubs, #intro, #nav {
		background-color: #FFFFFF;
}

#news, #intro, #nav, #medbox {
    font-size: 16px;
	font-family: 'Roboto', serif;
	font-weight: 300; 
	padding: 0em 1.3em 1.3em 1.3em;
	width: 480px;
	text-align: left;
	color: #020202;
	line-height: 1.6em;
	float: left;
}

#news li {
	padding-bottom: 1em;
}

#pubs, #content{
	font-size: 15px;
	text-align: left;
	color: 000000;
	font-family: 'Roboto', serif;
	line-height: 1.5em;
}

#pubs, .affiliation{
	text-indent:-1em;
	padding-left: 2em;
	line-height: 1.4em;
}

.highlight {
	color:#CC0000;
}

#leftbox {
	left: auto;
	right: auto;
	float: left;
	float: left;
}

#photo {
	width: 150px;
	margin: 15px;
	margin: 1em;
	text-align: left;
}

#nav {
	font-size: 14px;
	width: 120px;
}

.dates {
	font-weight: 500;
}
